.navbar li {
    display: inline-block;
    text-align: center;
  }
  
  .itemLeft {
    width: 70%;
    text-align: left;
  }
  
  .itemCenter {
    width: 10%;
  }
  
  .itemRight {
    width: 20%;
  }
  
  .navbar {
    background: #36454f;
  }
  
  li {
    color: white;
  }
  
  body {
    font-size: 24px;
  }

  .navbar ul {
      width: 100%;
  }